body{
    background-color: rgb(255, 242, 169);
}
.azul{
    background-color: rgb(0, 60, 255);
    padding: 100px;
    margin: 300px;
}

.amarelo{
    background-color: rgb(251, 255, 0);
    padding: 100px;
    margin: 20px;
}   
.flex{
    display: flex;
    
}
.extender{
  padding-right: 70;  
}
.extender2{
    padding-bottom: 70;
}